/* Start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
}

.container {
  background-color: var(--main-background);
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 375px) {
  .container {
    width: 370px;
  }
}

/* global rules */

.container .content {
  /* border: 1px solid yellow; */
  width: 78%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: 391px;
}
@media (max-width: 375px) {
  .container .content {
    padding: 5px;
    width: 70%;
    grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  }
}
.container .content .first-div {
  background-color: var(--card-background);
  padding: 40px 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 375px) {
  .container .content .first-div {
    padding: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0;
  }
}

.container .content .first-div .title {
  font-size: 35px;
  font-family: "Inter";
  font-weight: 700;
  margin-bottom: 30px;
}
@media (max-width: 375px) {
  .container .content .first-div .title {
    font-size: 17px;
    text-align: center;
    margin-bottom: 0;
    width: 144px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.container .content .first-div .title span {
  color: var(--accent);
}

.container .content .first-div .body {
  font-size: 15px;
  font-family: "Inter";
  line-height: 1.6;
  width: 80%;
  color: hsla(0, 0%, 100%, 0.75);
}

@media (max-width: 375px) {
  .container .content .first-div .body {
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 72%;
  }
}

.container .content .first-div .statistique {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 34px;
  padding: 12px 0px;
}

@media (max-width: 375px) {
  .container .content .first-div .statistique {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
  }
}

.container .content .first-div .statistique p {
  width: 68px;
}

@media (max-width: 375px) {
  container .content .first-div .statistique p {
    width: 94px;
  }
}

.container .content .first-div .statistique p span:first-child {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
}

@media (max-width: 375px) {
  .container .content .first-div .statistique p span:first-child {
    font-size: 15px;
    font-weight: 400;
  }
}

.container .content .first-div .statistique p span:last-child {
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Lexend Deca";
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
}

@media (max-width: 375px) {
  .container .content .first-div .statistique p span:last-child {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .container .content .second-div {
    grid-area: 1 / 1 / 1 / 1;
  }
}

.container .content .second-div {
  position: relative;
}

.container .content .second-div::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: hsla(277, 64%, 61%, 0.4);
}

.container .content img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 375px) {
  .container .content img {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}
